TEST_WS_COMMAND/Connected Services/NS_WS_LOCAL/WS_GUITARE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDate">
        <s:complexType />
      </s:element>
      <s:element name="GetDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Donne_Liste_Bois">
        <s:complexType />
      </s:element>
      <s:element name="Donne_Liste_BoisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Donne_Liste_BoisResult" type="tns:ArrayOfC_BOIS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfC_BOIS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="C_BOIS" nillable="true" type="tns:C_BOIS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="C_BOIS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idBois" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origine" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="GetDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:message name="Donne_Liste_BoisSoapIn">
    <wsdl:part name="parameters" element="tns:Donne_Liste_Bois" />
  </wsdl:message>
  <wsdl:message name="Donne_Liste_BoisSoapOut">
    <wsdl:part name="parameters" element="tns:Donne_Liste_BoisResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_GUITARESoap">
    <wsdl:operation name="GetDate">
      <wsdl:input message="tns:GetDateSoapIn" />
      <wsdl:output message="tns:GetDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Donne_Liste_Bois">
      <wsdl:input message="tns:Donne_Liste_BoisSoapIn" />
      <wsdl:output message="tns:Donne_Liste_BoisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_GUITARESoap" type="tns:WS_GUITARESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDate">
      <soap:operation soapAction="http://tempuri.org/GetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Donne_Liste_Bois">
      <soap:operation soapAction="http://tempuri.org/Donne_Liste_Bois" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_GUITARESoap12" type="tns:WS_GUITARESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDate">
      <soap12:operation soapAction="http://tempuri.org/GetDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Donne_Liste_Bois">
      <soap12:operation soapAction="http://tempuri.org/Donne_Liste_Bois" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_GUITARE">
    <wsdl:port name="WS_GUITARESoap" binding="tns:WS_GUITARESoap">
      <soap:address location="https://localhost:44391/WS_GUITARE.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_GUITARESoap12" binding="tns:WS_GUITARESoap12">
      <soap12:address location="https://localhost:44391/WS_GUITARE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>